{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "core/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "core/base.css" %}" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "mainpage" %}">Сайтек</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous %}
                    <li><a href="{% url "core:login" %}" class="navbar-link">Войти</a></li>
                {% else %}
                    <li><p class="navbar-text">{{ user.username }}</p></li>
                    <li><a href="{% url "core:logout" %}" class="navbar-link">Выйти</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <!-- Example row of columns -->
    {% block content %}
    {% endblock %}

    <hr>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>

<script src="{% static "core/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "core/bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>
