{% extends "core/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url "mainpage" %}">Главная</a></li>
                <li><a href="{% url "posts:allblogs" %}">Все блоги</a></li>
                <li><a href="{% url "posts:oneblog" pk=object.blog.id %}">{{ object.blog.title }}</a></li>
                <li class="active">{{ object.title }}</li>
            </ol>
        </div>
    </div>

    <h3>{{ object.title }}</h3>
    <p>{{ object.text }}</p>

    <h3>Комментарии</h3>

    <div class="row autoload" data-url="{% url "posts:onepostcomments" pk=object.id %}">
    </div>

{% endblock %}
